	.container{
		width:auto !important;
		
		margin:0 !important;
		border:1px solid transparent !important;
		background-color:black;
	}


	/* =============== */
	/* = Participate = */
	/* =============== */

	.participate{
		background-position: top right;
	}

	.applicationBox h3 {
		color:white;
	}

	/* ======================= */
	/* = Participate.Success = */
	/* ======================= */

	.shareBox{
		width:auto;
		margin:10px auto 10px;
		float:none;
	}



	/* ===============*/

	.header{
		height:auto !important;
	}

	.header ul.menuBar{
		height:auto !important;
		text-align:center !important;
		margin: auto !important;
	}

	.header ul.menuBar li{
		margin: auto !important;
		padding:10px !important;
		display:inline-block !important;
		float:none;
	}

	a#hiltonLogo{
		margin:10px auto 10px auto !important;
		float: none !important;		
	}


	.footer{
		height:auto !important;
		padding-bottom:30px !important;
	}


	.main {
		height:auto !important;
	}

	.enterBox {
		margin:auto !important;
		left:0 !important;
		top:0 !important;
		width: auto !important;
		padding:30px !important;

	}

	.firmPlayVid{
		display:none !important;
	}

	.firmTitle,
	.firmPlayVid,
	.firmSchedule {
		text-align:center!important;
		float:none !important;
		width: auto !important;
		margin:auto !important;
	}


/* =============== */
/* = PARTICIPATE = */
/* =============== */

.applicationBox {
		width: auto !important;
		margin:auto !important;
		padding:20px !important;
}

.applicationBox .form-horizontal {
    height: auto !important;
}


.applicationBox fieldset, .applicationBox .contestant-answer-value  {    
    width: 100% !important;	
}


.applicationBox textarea{
	width: 90% !important;
}

.applicationBox .control-group {
	height: 50px;
}

.contestant-answer-value{
	height:auto !important;	
}

.applicationBox .recaptcha_image{
	width: auto !important;
	height:auto;

}

#recaptcha_response_field{
	margin:10px 0 0 0 !important;
}

.applicationBox .form-actions, #contestant-OK {
	width:auto !important;
}


/* ========= */
/* = TERMS = */
/* ========= */

.termsBox {
	width: auto !important;
	float:none !important;
	margin:20px !important;

}

.termsBox div{
	height:auto !important;
	overflow-y: visible;
}


@media only screen and (max-width: 578px){
	.applicationBox .control-group {
		width: 48% ;
	}

	.applicationBox input {
		width:90% !important;
	}

	.applicationBox input[type="checkbox"] {
	 	width: auto !important;
	}		

	.contestant-answer-value{
		width:auto !important;	
	}

	
}